[flake8]
# E503: line break before binary operator, black's format style
ignore = D203,E501,W503
exclude =
  .git,
  __pycache__,
  docs/source/conf.py,
  old,
  build,
  dist,
  .venv,
  pad*.py
max-line-length = 120
max-complexity = 30
